.example-card {
  max-width: 400px;
}

.example-card-alive {
  border: 5px dashed aquamarine;
}

.example-card-dead {
  border: 5px dashed crimson;
}

.icon{
  font-size: 2.5em;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
